/* #e40046 color red */
/* #1d252d color blue dark */
:root {

--colorPrimary: #ffffff;
--colorBackground: #1d252d;
--colorSecundary: #e40046;

}

* {
    background-color: var(--colorBackground);
    color: var(--colorPrimary);
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  
}

